.contentContainer {
  height: calc(100vh - 5rem);

  button {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--pink-500);
    border: 0;
    background: transparent;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  section {
    padding: 2rem 0;

    a {
      display: block;

      & + a {
        margin-top: 2rem;
      }

      &:hover h1 {
        color: var(--pink-500);
      }

      h1 {
        transition: color 0.2s;
      }

      p {
        display: block;
      }
    }
  }
}
